@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.navi:hover{
    color: red;
    transition: 0.3s;
}
.button1 {
    border: none;
    background-color: #5a719c9a;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    
    font-size: 1.04rem;
    border-radius: 20px;
    letter-spacing: 3px;
    width:11rem;
    height: 3rem;
    transition: 0.3s;
  }
  .button1:hover {
    background-color: #0088ff;
    color: white;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  input[type=text] {
    width:30%;
    text-align: center;
    height: 1.7rem;
    box-sizing: border-box;
    border: none;
    background-color: #979797;
    color: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif ;
    transition: 0.3s;

  }

  input[type=text1] {
    width:100%;
    text-align: center;
    height: 4rem;
    box-sizing: border-box;
    border: none;
    font-size:1.15rem;
    background-color: #979797;
    color: white;
    font-family: 'Lato', sans-serif ;
    transition: 0.3s;

  }

  input[type=text2] {
    width:100%;
    text-align: center;
    height: 4rem;
    box-sizing: border-box;
    border: none;
    background-color: #979797;
    color: white;
    border-bottom-right-radius: 10px;
    font-family: 'Lato', sans-serif ;
    font-size:1.15rem; 
    transition: 0.3s;

  }
  input[type=text2]:hover{
    background-color: #5f5f5f;
    color: white;
    font-family: 'Lato', sans-serif ;
    font-size:1.15rem; 
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  input[type=text1]:hover{
    background-color: #5f5f5f;
    color: white;
    font-family: 'Lato', sans-serif ;
    font-size:1.15rem; 
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }
  input[type=text]:hover{
    background-color: #5f5f5f;
    color: white;
    font-family: 'Lato', sans-serif ;
    font-size:1.15rem; 
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.tabloid2{
  height: 5.5rem;
  width: 26%;
  margin: auto;
  text-align: center;
  background-color:#d7f4f568;
  padding-top:0.6rem;
  box-shadow:20px 20px 50px 10px rgba(98, 98, 98, 0.328);
  border-radius: 40px;
  transition: 0.3s;
}
.tabloid2:hover{
  background-color:#d7f4f568;
  width: 27%;
  transition: 0.3s;

}
.grad {
  height:9rem;
  width:65%;
  margin: auto;
  text-align: center;
  position: relative;
  border-radius:80px;
  transition: 0.3s;
  z-index: 1;
}
.grad::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(10deg, #ff000000,#8db5ff0e, #8DB4FF);
  z-index: -1;
  border-radius:80px;
  transition: opacity 0.5s linear;
  opacity: 1;
}
.grad:hover::after{
  opacity: 0;
}

.grad::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(10deg, #8DB4FF,#8db5ff0e, #ff000000);
  z-index: -1;
  border-radius:80px;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.grad:hover::before {
  opacity: 1;
}

.tabloid1{
  height: 5.5rem;
  width:17%;
  margin: auto;
  text-align: center;
  background-color:#d7f4f568 ;
  padding-top:0.6rem;
  box-shadow:20px 20px 50px 10px rgba(98, 98, 98, 0.328) ;  
  border-radius:40px;
  transition: 0.3s;
}
.tabloid1:hover{
  background-color:#d7f4f568 ;
  width:18%;
  border-radius:40px;
  transition: 0.3s;
}
input[type=date]:hover{
  color: red;
  transition: 0.3s;
}
input[type=date]{
  transition: 0.3s;
}
